body{
  margin-top: 2px;
}

#content{
  min-width: 20vw;
  max-height: 94.5vh;
  border:1px solid black;
}


button{
  height: 20px;
}

#filter-lists{
  display:inline-block;
  width: auto;
}

#left-pane{
  float:left;
  width: auto;
  max-width: 85vw;
}

#right-pane{
  /*float: right;*/
  max-width: 50vw;
  /*border: #0000FF solid 1px;*/
  display: inline-block;
}

.box{
  border: 1px solid black;
  margin: 1px;
}

.filter-list-container{
  display: inline-block;
  width: auto;
  vertical-align: top;
}
.horizontal-list {
  display: flex;
  flex-direction: row;
}

.float-right-btn{
  float: right;
}

.emj-btn{
  border:none;
  background-color: transparent;
  cursor: pointer;
}
